body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, serif;
    background-color: #f4f4f4;
}
.logo{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 60px;
    font-family: sans-serif;
    align-items: center;    
    color: black;
}
.logo .hands{
    color: #ffff;
}
.navbar{
    background-color: burlywood;
    overflow: hidden;
    height: 63px;
}
.navbar a{
    float: left;
    display: block;
    color: black;
    align-items: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 15px;
}
.navbar ul{
    list-style: none;
}
.navbar a:hover{
    background-color: #ddd;
    color: #000;
}
.open-function a{
    float: right;
    color: white;
    font-size: 30px;
    text-align: center;
    display: flex;
    
}
.callAction{
    float: right;
    display: flex;
    padding-right: 15px;
    font-weight: 600;
}
.call-menu{
    position: absolute;
    float: right;
    height: 150px;
    width: 0;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    opacity: 0.8;
    box-shadow: #ccc;
    padding-top: 60px;
    transition: 0.4s;
    padding-top: 10px;
    margin-top: 63px;
    overflow-x: hidden;
}
.call-menu a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
    float: center;
    text-align: right;
}
.call-menu a:hover{
    background-color: burlywood;
    color: #111;
}
.call-menu .cls-btn{
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
    margin-right:50px;
    padding: 5px 15px;
}
.side-nav{
    height: 250px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.8;
    box-shadow: #ccc;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.4s;
    padding-top: 10px;
    margin-top: 63px;
}
.side-nav a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
    float: center;
}
.side-nav a:hover{
    background-color: burlywood;
    color: #111;
}
.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left:50px;
    padding: 5px 15px;
}
@media(max-width:600px){
    .callAction{
        display:none;
    }
}
@media(min-width:600px){
    .open-function{display:none}
}
.main{
    background-image: url(/img/4k.png);
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: /*calc(100vh-63px)*/ 94vh;
}
.testimonials{
    text-align: center;
}

.test-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.cards{
    border: 1px solid black;
    border-radius: 5px;
    max-width: 49%;
    height: 500pxv ;
    margin-bottom: 50px;
    transition: 0.5s ease;
}

.cards:hover{
    
}

.letter{
    height: 75px;
    width: 75px;
    background-color: rgb(255, 0, 43);
    color: white;
    border-radius: 50%;
    margin: 50px auto 25px auto;
}
.letter p{
    line-height: 75px;   
    font-size: 80px;
}
.cards ul{
    display: inline-block;
    
    padding: 0;
}
.quote{
    max-width: 420px;
}
footer{
    background: burlywood;
    color: #686868;
    min-height: 400px;
    max-height: 750px;
    position: relative;
    top: -5px;

}
footer .footer-content{
    min-height: 350px;
    max-height: 750px;
    display: flex;
    flex-wrap: wrap;
}
footer .footer-content .footer-section{
    flex: 1;
    padding: 0 0 0 25px;
}
footer .footer-content h1
footer .footer-content h2{
    color: white;
}
.logo-2{
    font-family: sans-serif;    
    color: black;
}
.logo-2 .hands{
    color: #ffff;
}
footer .footer-content .about .contact span{
     display: block;
     font-size: 1.1em;
     margin-bottom: 8px;
}
footer .footer-content .about .socials a{
    border: 1px solid grey;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    margin: 10px 5px 0 0;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius:5px;
    text-decoration: none;
    color: white;
}
footer .footer-content .about .socials a:hover{
    background-color: grey;
    transition: 0.2s;
}
footer .footer-content .links{
    padding-left: 50px;
    min-width: 140px;
}
footer .footer-content ul{
    padding: 0;
}
footer .footer-content .links a{
    display: block;
    text-decoration: none;
    color: #686868;
    list-style: none;
    padding: 0 0 5px 0;
    margin-bottom: 10px;
    font-size: 18;
    transition: all, .3s;
}
footer .footer-content .links ul a:hover{
    margin-left: 15px;
    transition: all, .3s;
}
footer .footer-content .contact-form .contact-input {
    background: rgb(250, 223, 187);
    color: black;
    margin-bottom: 10px;
    line-height: 1.5em;
    padding: .9em 1.4em;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    display: flex;
    width: 380px;
}
footer .footer-content .contact-form .message{
    height: auto;
}
footer .footer-content .contact-form .contact-input:focus{
    background: rgb(253, 204, 141);
}
textarea{
    resize: none;
    height: 50px;
    font-family: Arial, serif;
    line-height: 16px;
}
button{
    line-height: 1.3rem;
    border: 1px solid transparent;
    border-radius: 5px;
    color: black;
    background: rgb(250, 223, 187);
    border: none;
    padding: 5px 15px;
    transition: .4s;
    width: 200;
}
button:hover{
    background: rgb(253, 204, 141);
    color: black;
    border: black;
    transition: .4s;
    
}
footer .footer-bottom{
    background-color: rgb(170, 141, 103);
    color: #686868;
    height:50px;
    text-align:center;
    
    width: 100%;
    bottom: 0;
    padding-top: 20px;
    overflow: hidden;
}
.footer-bottom span {
    color: white;
}